* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.home img {
    width: 40%;
    padding-right: 10%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10%;
    width: 100%;
    height: 100%;
}

.home .desc {
    padding: 0 6%;
}

.home .desc p {
    width: 40rem;
}

@media  screen and (max-width:480px) {
    .home img {
        width: 80%;
    }

    .home .desc p {
        width: 20rem;
    }
}